
.grid {
  display: flex;
  width: 100%;
  margin-left: 5%;
}

.element_code{
  width: 40%;
}
.element_button {
  width: 10%;
}
.element_button button {
  margin-top: 30vh;
  margin-left: 25%;
  cursor: pointer;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.link{
  text-align: center;
  color: blue;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: blue;
}